@mixin flexbox($flexW: nowrap, $flexJC: center, $flexAI: center) {
  display: flex;
  flex-wrap: $flexW;
  justify-content: $flexJC;
  align-items: $flexAI;
}

@mixin width($ws: 1200px, $mgU: 0, $mgB: 0) {
  width: 100%;
  max-width: $ws;
  text-align: center;
  margin: $mgU auto $mgB;
}
@mixin gridLayout($min: 100px, $gridAI: center, $cGap: 1rem) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min, 1fr));
  align-items: $gridAI;
  column-gap: $cGap;
}
@mixin subTtl($fontSize: 1.4em) {
  margin: 2rem auto;
  font-size: $fontSize;
  letter-spacing: 2px;
  text-transform: uppercase;
}
