@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700;800&display=swap");
@import "_variable.scss";
@import "_mixin.scss";

body,
html {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  word-break: break-all;
  line-height: 1.5;
  background-color: $black;
  color: $white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a,
  a:hover {
    color: $black;
    text-decoration: none;
    display: block;
  }
  img {
    max-width: 100%;
  }

  figure {
    margin: 0;
  }
  button {
    all: unset;
  }
}

main {
  margin-bottom: 4rem;

  .button {
    transition: $easeFive;
    background-color: $black;
    color: $white;
  }

  .genre-wrap {
    @include flexbox($flexJC: flex-start);

    li {
      padding: 0 1rem 0.1rem;
      font-weight: 200;
      border-radius: 50px;
      border: 1px solid $white;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}

// top page
#main {
  @include width;

  h1 {
    font-size: 3em;
    font-weight: 800;
    border-bottom: 2px solid;
    text-transform: uppercase;
    text-align: center;
  }

  .movie-wrapper {
    @include width($ws: 90%);

    .movie-wrapper__item {
      border: 1px solid red;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      h2 {
      }
      img {
      }
      p {
        text-align: left;
        font-size: 1.3em;
        font-weight: 300;
      }
      .genre-wrap {
        border: 1px solid red;

        h3 {
          text-align: left;
        }
        ul {
          @include gridLayout($min: 25%);

          li {
            border: 1px solid green;
            border-radius: 2rem;
            font-size: 1em;
            padding: 0 6px 2px;
          }
        }
      }
    }
  }
}

//
// detail
//
#detail {
  header {
    @include flexbox($flexJC: space-between);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);

    button {
      font-size: 2em;
      color: $white;
      width: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer;
    }

    h2 {
      color: $white;
      font-size: 1.2em;
      padding: 1rem 2rem 1rem;
    }
  }

  .bg-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $black;
      opacity: 0.8;
      width: 100%;
      height: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10vh;
      background-image: linear-gradient(
        to bottom,
        rgba(18, 18, 18, 0) 10%,
        rgba(18, 18, 18, 0.25) 25%,
        rgba(18, 18, 18, 0.5) 50%,
        rgba(18, 18, 18, 0.75) 75%,
        rgba(18, 18, 18, 1) 100%
      );
    }
  }

  .movie-wrap {
    position: relative;
    @include width($ws: 90%);
    padding-top: 10rem;

    .movie-wrap__info {
      text-align: left;

      h1 {
        font-size: 2em;
        line-height: 1em;
        border-bottom: 1px solid $white;
        padding-bottom: 2rem;
      }
      ul {
        @include flexbox($flexAI: flex-start, $flexJC: flex-start);
        margin: 2rem auto;
        li {
          position: relative;
          @include flexbox();

          svg {
            margin-right: 4px;
          }

          &:not(:first-child):before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin: 0 0.5rem;
            border-radius: 50%;
            padding: 1px;
            background-color: $white;
          }
        }
      }
    }

    .movie-wrap__img {
      figcaption {
        h3 {
          @include subTtl;
        }
        iframe {
          width: 100%;
          height: 40vh;
        }
      }
    }

    .movie-wrap__story {
      h4 {
        @include subTtl;
      }
      p {
        text-align: left;
        border-top: 1px dotted $white;
        padding-top: 2rem;
      }
    }
  }
}

// responsive
@media screen and (min-width: 1024px) {
  #main {
    @include width();

    .movie-wrapper {
      @include gridLayout($min: 50%);

      li {
        border: 1px solid red;
      }
    }
  }
}
